.findForm{
    display: block;
    background: #8e92fa;

    height: 50px;
    padding: 5px 30px;
}

.findForm > * {

    font-size: 1rem;
    float:left;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
}

.findForm > select {
    margin-right:auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*font-size: 1rem;*/
}

.cartImg{
    width: 20px;
    height: 20px;
    /*margin: 0 5px 0 5px;*/
}
.cartDiv{
    background: orange;
    padding: 0 10px;
}

.submitFindFormDiv{
    margin: 0 20px;
}
.submitFindForm{
    padding: 0 20px;
    background: pink;
    border-width: 0;
    border-radius: 10px;
    color: white;
    height: 100%;
}
/*.findForm {*/
/*    padding: 5px;*/
/*    align-items: center;*/
/*    margin-bottom: 0rem !important;*/
/*    display: grid;*/
/*}*/

/*.ffItem {*/

/*    !* grid-area: it; *!*/
/*}*/

/*@media all and (max-width: 770px) {*/
/*    label.ffItem {*/
/*        justify-self: start;*/
/*        margin: 0rem !important;*/
/*    }*/

/*    .findForm {*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
/*        grid-gap: 1vw;*/
/*    }*/

/*    .find {*/
/*        display: none*/
/*    }*/

/*    .hide-gride {*/
/*        display: grid;*/
/*        padding-left: 15px;*/
/*        padding-right: 15px;*/
/*    }*/

/*    a[type="cartInForm"] {*/
/*        display: none;*/
/*    }*/

/*    a[type="findCart"] {*/
/*        !*display: auto;*!*/
/*        !* margin-left:10px; *!*/
/*    }*/

/*    button[type="submit"] {*/
/*        margin-left: 0px;*/
/*        margin-top: 15px*/
/*    }*/

/*}*/

/*@media all and (min-width: 770px) {*/

/*    * {*/
/*        font-size: 1.4vw;*/
/*    }*/

/*    .findForm {*/
/*        grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 2fr 1fr;*/
/*        grid-template-rows: 1fr;*/
/*        grid-gap: 1vw;*/
/*    }*/

/*    label.ffItem {*/
/*        justify-self: end;*/
/*        margin: 0rem !important;*/
/*    }*/

/*    .find {*/
/*        display: grid !important;*/
/*    }*/

/*    .hide-gride {*/
/*        display: none;*/
/*        padding: 0px;*/
/*    }*/

/*    !*a[type="cartInForm"] {*!*/
/*    !*    display: auto;*!*/
/*    !*}*!*/

/*    a[type="findCart"] {*/
/*        display: none;*/

/*    }*/

/*    button[type="submit"] {*/
/*        margin-left: 0px;*/
/*        margin-top: 15px*/
/*    }*/

/*}*/


/*.hide-gride {*/
/*    grid-template-columns: 1fr 50px;*/
/*    grid-template-rows: 1fr;*/
/*}*/


.btnWhite {
    /*height: calc(2.25rem + 2px);*/
    /*text-align: start;*/
    /*color: #495057;*/
    /*vertical-align: middle;*/
    /*float: left;*/
    /*line-height: 1.5;*/
    /*width: 100%;*/
    /*background-size: 8px 10px;*/
    /*border-width: 1px;*/
    /*font-size: 100%;*/
    /*border-color: #ced4da;*/
    height: 100%;;
    padding: 0 30px 0 10px;
    color: rgb(87, 84, 84);
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btnWhite :hover {
    color: black;
    background-color: #e2e6ea;
    border-color: #ced4da;
}

.btnWhite:focus, .btnWhite.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.btnWhite.disabled, .btnWhite:disabled {
    color: black;
    background-color: white;;
    border-color: #ced4da;
}

.btnWhite:not(:disabled):not(.disabled):active, .btnWhite:not(:disabled):not(.disabled).active, .show > .btnWhite.dropdown-toggle {
    color: black;
    background-color: white;
    border-color: #ced4da;
}

.btnWhite:not(:disabled):not(.disabled):active:focus, .btnWhite:not(:disabled):not(.disabled).active:focus, .show > .btnWhite.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}